@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

header {
  width: 100%;
}

.barra-descuentos {
  background-color: #1cd1b0;
  padding: 10px 26px;
}

.barra-descuentos p {
  font-size: 15px;
  font-weight: bold;
}

.titulo {
  background: #00669f;
  padding: 8px;
}

h1 {
  font-weight: 300;
}

.barra-menu{
  background: #001D2D;
  padding: 5px 15px;
  font-size: 13px;

}

.barra-menu ul{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.barra-menu ul li a{
  margin: 5px;
  text-decoration: none;
  color: white;


}


.boton-mas-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00669f;
  width: 50px;
  height: 50px;
  padding: 20px;
  border-radius: 50%;
  border: none;
  position: fixed;
  top: 50%;
  right: 50px;
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
}

.cartas {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin: 44px;
  height: 100vh;
}

.tarjeta-heroe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  border-radius: 15px;
  margin: 20px 40px;
}

.tarjeta-heroe > img {
  display: block;
  width: 100%;
}

.perfil {
  border-radius: 50%;
  position: absolute;
}

img.perfil {
  width: 42%;
  left: 28%;
  top: 22%;
}

.portada {
  margin: 0;
  border-radius: 20px 20px 0px 0px;
}

.like {
  position: absolute;
  color: red;
  top: 15px;
  font-size: 20px;
  left: 25px;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.info-heroe {
  background: #f3f3f3;
  padding: 90px 16px 18px 17px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-heroe > p {
  margin-bottom: 20px;
  padding: 5px 15px;
}

.boton-mas {
  width: 128px;
  background-color: #00669f;
  color: white;
  border: solid 1px #00669f;
  padding: 10px;
  box-sizing: border-box;
}

footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  color: white;
  background-color: #00669f;
  padding: 8px;
  box-sizing: border-box;
}

footer > img {
  position: absolute;
  width: 100px;
  right: 10px;
}

/**/
@media (max-width: 1450px) {
  .cartas {
    height: auto;
  }
  .tarjeta-heroe {
    margin: 25px 30px;
    width: 30%;
  }

  /* img.perfil {
    width: 45%;
    left: 29%;
    top: 26%;
  }

  .info-heroe {
    padding-top: 100px;
  }

  .harley {
    display: none;
  } */
}

@media (max-width: 1100px) {
  .tarjeta-heroe {
    margin: 25px 30px;
    width: 38%;
  }

  /* img.perfil {
    width: 45%;
    left: 29%;
    top: 26%;
  }

  .info-heroe {
    padding-top: 100px;
  }

  .harley {
    display: none;
  } */
}

/* Para tabletas */
@media (max-width: 780px) {
  .cartas {
    height: auto;
  }
  .tarjeta-heroe {
    margin: 15px 25px;
  }

  img.perfil {
    width: 50%;
    left: 29%;
    top: 15%;
    
  }
}

/* Para celulares grandes */
@media (max-width: 650px) {
  .tarjeta-heroe {
    margin: 25px 0px;
    width: 70%;
  }

  img.perfil {
    width: 45%;
    left: 29%;
    top: 20%;
  }

  .info-heroe {
    padding-top: 100px;
  }

  .harley {
    display: none;
  }

  footer > img {
    position: static;
    margin: 10px;
  }

  footer {
    text-align: center;
    flex-direction: column;
  }
}

/* Para celulares pequeños */
@media (max-width: 480px) {
  .tarjeta-heroe {
    margin: 25px 0px;
    width: 100%;
  }

  img.perfil {
    width: 45%;
    left: 29%;
    top: 25%;
  }
  .boton-mas-principal {
    right: 5px;
    width: 20px;
    height: 20px;
    z-index: 2;
    font-size: 1.2rem;
  }
}

/* Para celulares super pequeños */
@media (max-width: 380px) {
  .tarjeta-heroe {
    margin: 25px 0px;
    width: 100%;
  }

  .info-heroe {
    padding-top: 70px;
  }

  img.perfil {
    width: 45%;
    left: 29%;
    top: 16%;
  }
}

/* Para celulares diminutos*/
@media (max-width: 300px) {
  .tarjeta-heroe {
    margin: 25px 0px;
    width: 100%;
  }

  .info-heroe {
    padding-top: 70px;
  }

  img.perfil {
    width: 45%;
    left: 29%;
    top: 10%;
  }
}
