<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
  />
  <link
    rel="shortcut icon"
    href="../img/foto_perfil.jfif"
    type="image/x-icon"
  />
  <link rel="stylesheet" href="../css/style.css" />


  <title>Eliana Chávez | Portafolio</title>
</head>
<body>
    <header>
        <article>
          <div>
            <h1>Eliana Chávez</h1>
            <h2>Ingeniera & Programadora</h2>
          </div>
        </article>
        <nav>
          <ul>
            <li><a href="../index.html">Hoja de vida</a></li>
            <li><a href="./sobremi.html">Sobre mí</a></li>
            <li><a href="./portafolio.html">Portafolio</a></li>
          </ul>
        </nav>
      </header>
      <main class="portafolio"> 
          <h1>Portafolio</h1> <br>
          <p>Cuando tenga mis proyectos estarán publicados aquí</p>
      </main>
  
</body>
</html>