<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Superheroes | Harly</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/perfil.css" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <div class="barra-descuentos"><p>Descuentos 20%</p></div>
      <div class="titulo">
        <h1>Harley Quinn</h1>
      </div>
    </header>
    <main>
      <article class="tarjeta-perfil">
        <img class="perfil" src="../img/foto-harlin.png" alt="img-perfil" />
        <i class="fas fa-heart like"></i>

        <div class="info-heroe">
          <h3 class="titulo-heroe">Harley Quinn</h3>
          <p>
            Harley Quinn es un personaje ficticio creado por los estadounidenses
            Paul Dini y Bruce Timm para la editorial DC Comics. Quinn hizo su
            debut en el vigésimo-segundo episodio de Batman: la serie animada,
            «El favor del Joker», en septiembre de 1992 y se convirtió en una
            villana recurrente en la serie
          </p>

          <div class="iconos">
            <i class="fas fa-heart"></i>
            <i class="fas fa-heart "></i>
            <i class="fas fa-heart "></i>
          </div>

        </div>
        <button class="boton-home"><a href="../index.html">Volver al home</a></button>

      </article>
    </main>

    <footer>
      <p>Todos los derechos reservados a FRONT END 1</p>
    </footer>
  </body>
</html>
