<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Superheroes | Login</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/form.css" />
  </head>
  <body>
    <header>
      <div class="barra-descuentos"><p>Descuentos 20%</p></div>
      <div class="titulo">
        <h1>Heroes</h1>
      </div>
    </header>

    <main>
      <div class="form-container">
        <h1>Login</h1>
        <form action="">
          <input type="email" placeholder="Usuario" required/>
          <input type="password" placeholder="Contraseña" required />
          <button class="boton-enviar">Entrar</button>
        </form>

        <p><span>¿No tienes una cuenta?</span>Registrate</p>
      </div>
    </main>
    <footer>
      <p>Todos los derechos reservados a FRONT END 1</p>
      <!-- <img src="../img/github.png" alt="github" /> -->
    </footer>
  </body>
</html>
