<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Superheroes | Registro</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/form.css" />
  </head>
  <body>
    <header>
      <div class="barra-descuentos"><p>Descuentos 20%</p></div>
      <div class="titulo">
        <h1>Heroes</h1>
      </div>
    </header>

    <main>
      <div class="form-container">
        <h1>Registro</h1>
        <form>
          <input
            type="text"
            name="nombre"
            placeholder="Nombre y Apellido"
            required
          />
          <input
            type="email"
            name="correo"
            placeholder="Correo electrónico"
            required
          />
          <input
            type="password"
            name="clave"
            placeholder="Contraseña"
            required
          />
          <select name="pais" value="País" required>
            <option value="default">País</option>
            <option value="colombia">Colombia</option>
            <option value="argentina">Argentina</option>
            <option value="chile">Chile</option>
            <option value="peru">Peru</option>
          </select>

          <div class="boton-container">
            <button type="reset" class="boton-resetear">Resetear</button>

            <button class="boton-enviar">Entrar</button>
          </div>
        </form>

        <p><span>¿Ya tienes una cuenta?</span>Ingresa</p>
      </div>
    </main>
    <footer>
      <p>Todos los derechos reservados a FRONT END 1</p>
      <!-- <img src="../img/github.png" alt="github" /> -->
    </footer>
  </body>
</html>
