@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  color: black;
}

button{
  cursor: pointer;
}
/* Barra de idiomas */
.barra-idiomas {
  background-color: black;
  padding: 8px 15px 7px 90px;
  font-weight: 400;
}

.barra-idiomas li,
.barra-idiomas ul,
.barra-idiomas p {
  display: inline;
  color: white;
  font-size: 13px;
}

.barra-idiomas ul {
  position: absolute;
  right: 0;
}

/* Barra menu principal */
.menu-principal {
  background-color: #f0a83e;
  padding: 12px;
  display: flex;
}

.menu-principal img {
  margin-right: 5px;
}

nav.menu-principal a,
li {
  display: inline;
  margin-right: 10px;
  color: white;
  font-style: regular;
  font-size: 13px;
  line-height: 15px;
  line-height: 100%;
  text-decoration: none;
  text-align: left;
  vertical-align: middle;
}

nav.menu-principal ul {
  position: absolute;
  right: 0px;
}

/* Banner */
.banner {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  justify-content: right;
  background-image: url("../img/fondo_comida_para_mascotas.png");
}

.banner article {
  height: fit-content;
  text-align: center;
  margin: auto;
  margin-right: 15px;
}

.banner article p {
  margin-bottom: 15px;
}

.boton-banner {
  color: white;
  background-color: #f0a83e;
  border-radius: 5px;
  padding: 10px;
  border: #f0a83e;
  margin: auto;
}

.mensaje-1 {
  display: inline-block;
  color: black;
  padding: 7px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: fit-content;
  font-size: 30px;
}

/* Productos destacados */
.img-patita {
  margin-top: 20px;
}

h1 {
  color: #3c2313;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.productos-destacados {
  text-align: center;
}

.categorias-producto {
  margin: 20px 0;
}

.categorias-producto li {
  display: inline;
  font-size: 15px;
  color: #666666;
}

.lista-productos p {
  color: #3c2313;
  font-weight: 600;
  text-align: center;
  font-size: 15px;
  margin-bottom: 10px;
}

.lista-productos li {
  display: inline-block;
  background-color: #fbfaf6;
  margin-bottom: 20px;
}

.lista-productos p.precio {
  color: #f0a83e;
}

/* Contactanos */

.seccion-contacto {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-items: auto;
  margin: auto;
  margin-top: 50px;
}

h2 {
  color: #3c2313;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  margin: 25px 0;
}

.input-formulario {
  color: white;
  font-size: 9px;
  width: 340px;
  background-color: #3c2313;
  padding: 12px 10px;
  border-radius: 10px;
  margin-bottom: 7px;
}

.seccion-contacto button {
  border-radius: 13px;
  color: white;
  font-size: 16px;
  padding: 5px 30px;
}

.botones-contacto {
  margin: 40px auto;
}

.boton-resetear {
  background-color: #8a8787;
  border: #8a8787 0;
  margin: 0 5px;
}

.boton-enviar {
  background-color: #f0a83e;
  border: #f0a83e 0;
  margin: 0 5px;
}

.suscribete {
  display: flex;
  align-items: center;
  background-color: #f0a83e;
  color: white;
  justify-content: space-between;
}

.suscribete div {
  display: flex;
  align-items: center;
}

.suscribete img {
  width: 45px;
  margin: 0  15px 0 23px;
}
.suscribete h2 {
  color: white;
}

.form-instruccion {
  text-align: start;
  background-color: white;
  padding: 15px 200px 15px 15px;
  border-radius: 15px;
  color: lightgrey;
  font-size: 10px;
}

.boton-suscripcion {
  background-color: #3c2313;
  color: white;
  padding: 15px;
  border-radius: 19px;
  margin: 0 47px 0 10px;
  border: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
}

.footer-info {
  display: flex;
  background-color: #3c2313;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px 20px 80px;
}

.footer-info ul h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}

.footer-info ul p {
  color: #8a8787;
  font-size: 15px;
}

.footer-info article {
  display: flex;
  align-items: center;
}

.footer-info article div {
  margin: 0 20px;
}

.barra-final {
  background: #222222;
  color: white;
  padding: 5px;
}
